 <%= if flash = get_flash(@conn, :info) do %>
      <script>
        message = '<%= flash %>'
        showNotification("success",message)
      </script>
  <% end %>

  <%= if flash = get_flash(@conn, :error) do %>
      <script>
        message = '<%= flash %>'
        showNotification("danger",message)
      </script>
  <% end %>

