<!DOCTYPE html>
<html lang="en" class="perfect-scrollbar-off">
  <%= render "head.html", conn: @conn %>
  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="rose" data-background-color="black" data-image="/images/sidebar-1.jpg">
        <%= render "logo.html", conn: @conn %>
        <div class="sidebar-wrapper">
          <%= render "user.html", conn: @conn %>
          <%= render "navigation.html", conn: @conn %>
        </div>
      </div>
      <div class="main-panel">
        <%= render "toolbar.html", conn: @conn %>
        <%= render "alerts.html", conn: @conn %>
        <div class="content">
          <%= @inner_content %>
        </div>
        <%= render "footer.html", conn: @conn %>
      </div>
    </div>
    <%= render "settings.html", conn: @conn %>
    <%= render "scripts.html", conn: @conn %>
  </body>
</html>
