<%= if flash = live_flash(@flash, :info) do %>
      <p
        style="display:none"
        phx-value-key="info"
        phx-hook="AlertInfo"
        ><%= flash %>
      </p>
<% end %>
<%= if flash = live_flash(@flash, :error) do %>
      <p
        style="display:none"
        phx-value-key="error"
        phx-hook="AlertError"
        ><%= flash %>
      </p>
<% end %>

<%= @inner_content %>
